/* #section-1,#section-2 {
  border:1Px solid black;
}
span{
  color:red;
} */
/* 
.italics{
  font-style:italic;
}
.bolds
{
  font-style:bold;
}
.color{
  color:red;
}
 */
/* .div-1,.div-2{
  border:1px solid black;
  margin:20px;
} */

/* common class name for multiple class */

/* sudo selector */
/* button in html */
 /* pseudo class :hover */
 /* precitent in  css is overwrittrn by !important attribute */


 /* Box Model */
 

 /* Systematic Way to Write CSS + HTML
 1.How do I want to arrange these HTML elements on the page?
 2.How does this arrangement look in the form of HTML?
 3.How can I use CSS to achieve the layout I have imagined?
 4.How should each element be styled? */

   

